﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@*check if user is logged in, inject instances
    razor has access to user property that return a current logged in user
    use POST request to log out user via form method attribute to the log out account controller
    *@
    <ul class="navbar-nav">
        @if (signInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <form method="post" asp-action="LogOut" asp-controller="account">
                    <button type="submit">
                        Logout @User.Identity.Name
                    </button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">Login</a>
            </li>
        }
    </ul>
