﻿@model BookStore.Models.ViewModel.UserLogInViewModel

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="LogIn">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Login">
                        <div class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Remember" /> @Html.DisplayNameFor(model => model.Remember)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Log In" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>